<header>
    Đây là API của MyAnimeList free trên sàn giao dịch rapidapi.com
    <hr style="width: auto; height: 10px; color:#808080 ">
    <br />
    phần thông tin chỉ show ra bạn có thể sắp xếp lại chúng !
    <br />
    ngoài ra bạn có thể truy cập đường dẫn: <p><b>https://rapidapi.com/felixeschmittfes/api/myanimelist</b> này !</p>
    để lấy thêm các API khác của MyAnimeList chúng hoàn toàn free.

    <h1>Anime Recommendations</h1>
</header>
<hr>

<div id="loading" style="display: none;">Loading...</div>

<div id="recommendations-container"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#loading').show();

        $.ajax({
            url: '@Url.Action("Get_Recommendations", "MAL_APIServices")',
            type: 'GET',
            success: function (data) {
                $('#loading').hide();
                $('#recommendations-container').html(data);
            },
            error: function (xhr, status, error) {
                console.error("Error fetching recommendations: ", error)
                $('#loading').hide();
            }
        });
    });
</script>