@model ProjectForDemoOnly.Models.ErrorViewModel

<body class="bg-light">
    <div class="container min-vh-100 d-flex align-items-center justify-content-center">
        <div class="card shadow-sm text-center">
            <div class="card-body p-5">
                <h1 class="card-title display-4 text-danger mb-4">@Model.title</h1>
                <p class="card-text mb-4">@Model.Message.ToString()</p>
                @Html.ActionLink("Đi đến nhà cung cấp dịch vụ.", "ChooseConnectType", "MAL_APIServices", null, new { @class = "btn btn-primary btn-lg" })
            </div>
        </div>
    </div>
</body>
