@model ProjectForDemoOnly.Models.ErrorViewModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
        <h3>@Model.title</h3>
        <h4>@Model.Message.ToString()</h4>
    </hgroup>
</body>
</html>
